*.swp
/ReleaseNotes.html
edit-git-bash.exe
/cached-source-packages/
/download-stats.ids
/git-extra/pkg/
/git-extra/src/
/git-extra/git-extra-*.pkg.tar.xz
/git-extra/git-extra-*.src.tar.gz
/installer/ReleaseNotes.html
/installer/bindimage.txt
/installer/config.iss
/installer/install.log
/installer/is-unicode.exe
/installer/file-list.iss
/installer/package-versions.txt
/mingit/exclude-list
/mingit/root/
/mingit/sorted-all
/mingit/sorted-libexec-exes
/mingw-w64-git-credential-manager/pkg/
/mingw-w64-git-credential-manager/src/
/mingw-w64-git-credential-manager/*.pkg.tar.xz
/mingw-w64-git-credential-manager/*.src.tar.gz
/mingw-w64-git-credential-manager/gcmw-*.zip
/mingw-w64-git-credential-manager/v[1-9]*.zip
/msi/GitComponents.wxs
/msi/obj/
/msi/package-versions.txt
/msi/wix40-binaries.zip
/nuget/GitForWindows.nuspec
/nuget/Git-Windows-Minimal.nuspec
/nuget/Git-Windows-Minimal.nuspec.unmoved
/nuget/ReleaseNotes.html
/nuget/libexec-moved.txt
/nuget/nuget.exe
/nuget/package-versions.txt
/portable/root/LICENSE.txt
/portable/root/bin/
/portable/root/cmd/
/portable/root/etc/
/portable/root/post-install.bat
/sdk-installer/root/
/source-zips/
/source-zips-mingit/
/archive/root/*
!/archive/root/etc/hosts
!/archive/root/etc/networks
!/archive/root/etc/protocols
!/archive/root/etc/services
