*.swp
/cached-source-packages/
/download-stats.ids
/git-extra/pkg/
/git-extra/src/
/git-extra/git-extra-*.pkg.tar.xz
/installer/ReleaseNotes.html
/installer/bindimage.txt
/installer/config.iss
/installer/edit-git-bash.exe
/installer/install.log
/installer/is-unicode.exe
/installer/file-list.iss
/installer/package-versions.txt
/msi/GitComponents.wxs
/msi/wix40-binaries.zip
/portable/root/bin/
/portable/root/cmd/
/portable/root/etc/
/portable/root/post-install.bat
/sdk-installer/root/
/archive/root/*
!/archive/root/etc/hosts
!/archive/root/etc/networks
!/archive/root/etc/protocols
!/archive/root/etc/services
