PKGBUILD eol=lf
*.bat eol=lf
*.c eol=lf
*.cpp eol=lf
*.css eol=lf
*.install eol=lf
*.install.in eol=lf
*.iss eol=lf
*.h eol=lf
*.md eol=lf
*.post eol=lf
*.sh eol=lf
*.txt eol=lf
*.wxs eol=lf
/git-extra/astextplain eol=lf
/git-extra/notepad eol=lf
/git-extra/vi eol=lf
/git-extra/vimrc eol=lf
/git-extra/wordpad eol=lf
