*.pdb
*.sig
*.swp
/ReleaseNotes.html
edit-git-bash.exe
/cached-source-packages/
/download-stats.ids
/git-extra/pkg/
/git-extra/src/
/git-extra/git-extra-*.pkg.tar.xz
/git-extra/git-extra-*.src.tar.gz
/git-for-windows-keyring/git-for-windows-keyring-*.pkg.tar.xz
/git-for-windows-keyring/git-for-windows-keyring-*.src.tar.gz
/installer/InnoSetup/Examples/
/installer/InnoSetup/Compil32.exe
/installer/InnoSetup/isscint.dll
/installer/ReleaseNotes.html
/installer/config.iss
/installer/install.log
/installer/is.exe
/installer/file-list.iss
/installer/package-versions.txt
/installer/root/
/mingit/exclude-list
/mingit/root/
/mingit/sorted-all
/mingit/sorted-libexec-exes
/mingw-w64-git-credential-manager/pkg/
/mingw-w64-git-credential-manager/src/
/mingw-w64-git-credential-manager/*.pkg.tar.xz
/mingw-w64-git-credential-manager/*.src.tar.gz
/mingw-w64-git-credential-manager/gcmw-*.zip
/mingw-w64-git-credential-manager/v[1-9]*.zip
/mingw-w64-git-credential-manager-core/pkg/
/mingw-w64-git-credential-manager-core/src/
/mingw-w64-git-credential-manager-core/*.pkg.tar.*
/mingw-w64-git-credential-manager-core/*.src.tar.gz
/mingw-w64-git-credential-manager-core/gcmcore-*.zip
/mingw-w64-git-credential-manager-core/v[1-9]*.zip
/mingw-w64-wintoast/mingw-w64-*-wintoast-*-any.pkg.tar.xz
/mingw-w64-wintoast/pkg
/mingw-w64-wintoast/src
/mingw-w64-wintoast/wintoast
/msi/GitComponents.wxs
/msi/obj/
/msi/package-versions.txt
/msi/wix40-binaries.zip
/nuget/GitForWindows.nuspec
/nuget/Git-Windows-Minimal.nuspec
/nuget/Git-Windows-Minimal.nuspec.unmoved
/nuget/ReleaseNotes.html
/nuget/libexec-moved.txt
/nuget/nuget.exe
/nuget/package-versions.txt
/portable/root/LICENSE.txt
/portable/root/bin/
/portable/root/cmd/
/portable/root/etc/
/portable/root/mingw32/
/portable/root/mingw64/
/portable/root/post-install.bat
/sdk-installer/root/
/source-zips/
/source-zips.previous/
/source-zips-mingit/
/archive/root/*
!/archive/root/etc/hosts
!/archive/root/etc/networks
!/archive/root/etc/protocols
!/archive/root/etc/services
/versions/cached-files/
