<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="GitComponents">
            <Component Directory="BinFolder">
                <File Id="GitExe" Source="bin\git.exe" />
            </Component>

            <!--
                The following should be generated...
            -->

            <Component Directory="BinFolder">
                <File Source="bin\bash.exe" />
            </Component>
            <Component Directory="BinFolder">
                <File Source="bin\msys-2.0.dll" />
            </Component>
            <Component Directory="BinFolder">
                <File Source="bin\rebase.exe" />
            </Component>
            <Component Directory="BinFolder">
                <File Source="bin\sh.exe" />
            </Component>
            <Component Directory="INSTALLFOLDER:\cmd\">
                <File Source="cmd\git-gui.exe" />
            </Component>
            <Component Directory="INSTALLFOLDER:\cmd\">
                <File Source="cmd\git.exe" />
            </Component>
            <Component Directory="INSTALLFOLDER:\cmd\">
                <File Source="cmd\gitk.exe" />
            </Component>
            <Component Directory="INSTALLFOLDER:\cmd\">
                <File Source="cmd\start-ssh-agent.cmd" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\bash.bashrc" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\bash.bash_logout" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\DIR_COLORS" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\docx2txt.config" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\fstab" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\hosts" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\inputrc" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\networks" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\nsswitch.conf" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\package-versions.txt" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\profile" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\protocols" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\rebase.db.i386" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\services" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\">
                <File Source="etc\vimrc" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\pkcs11\">
                <File Source="etc\pkcs11\pkcs11.conf.example" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\pki\ca-trust\extracted\java\">
                <File Source="etc\pki\ca-trust\extracted\java\cacerts" />
            </Component>
            <Component Directory="INSTALLFOLDER:\etc\pki\ca-trust\extracted\openssl\">
                <File Source="etc\pki\ca-trust\extracted\openssl\ca-bundle.trust.crt" />
            </Component>

            <!--
                and many more in this pattern through...
            -->

            <Component Directory="INSTALLFOLDER:\usr\ssl\misc\">
                <File Source="usr\ssl\misc\tsget" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>